<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(products.length > 0) { %>
                <ul>
                    <% products.forEach((p) => { %>
                        <li class="cart__item">
                            <h1><%= p.product.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                <input type="hidden" value="<%= p.product._id %>" name="productId" />
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% } ) %>
                </ul>
                <hr>
                <h2>Total: <%= (Math.round(products.reduce((acc, item) => acc + item.quantity * item.product.price, 0) * 100) / 100).toFixed(2) %></h2>
                <div class="centered">
                    <button id="order-btn" class="btn">Order Now!</button>
                </div>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
            <script src="https://js.stripe.com/v3/" ></script>
            <script>
                const STRIPE_PUBLIC_KEY = 'pk_test_51OonzrKy6t3Qv1L6xuSgGTzrD46KzQmqNYcZyifmBFJNvFL8NJMqbTriK3oHLTz8HVvJOkvwv0X1QnkkDmKgvS3i0030UJsxQi';
                const stripe = Stripe(STRIPE_PUBLIC_KEY);
                const orderBtn = document.getElementById('order-btn');
                orderBtn.addEventListener('click', () => {
                    stripe.redirectToCheckout({
                        sessionId: '<%= sessionId %>'
                    })
                })
            </script>
        </main>
        <%- include('../includes/end.ejs') %>